In [1]:
#import necessary libraries and drivers
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import driver
driver=webdriver.Chrome('chromedriver.exe')

# Question 1 Naukri.com

### Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
#program to open website
url='https://www.naukri.com/'
driver.get(url)

In [6]:
#program to find searchbar
search_jobs=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_jobs

In [7]:
#program to enter words in searchbar
search_jobs.send_keys('Data Analyst')

In [8]:
#program to find searchbar
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [9]:
#program to enter words in searchbar
search_loc.send_keys('Bangalore')

In [10]:
#program to find search button
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [11]:
#program to click on search button
search_btn.click()

In [12]:
#program to extract all xpath
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [13]:
title_tags=title_tags[0:11]

In [14]:
#program to find job titles
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Analyst',
 'Assistant Clinical Data Analyst',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Data Analyst / Sr. Data Analyst',
 'Senior Data Analyst - CRM']

In [15]:
#program to extract all xpaths
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [16]:
company_tags=company_tags[0:11]

In [17]:
#program to find company names
comp_name=[]
for i in company_tags:
    comp_name.append(i.text)
comp_name

['Flipkart',
 'Labcorp Drug Development India Private Limited',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Walmart',
 'Sejal Consulting Hub',
 'Snaphunt',
 'Axim Technologies',
 'Vmware',
 'Gojek Tech']

In [18]:
#program to extract all xpaths
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

19

In [19]:
exp_tags=exp_tags[0:11]

In [20]:
#program to find experience
exp=[]
for i in exp_tags:
    exp.append(i.text)
exp

['4-6 Yrs',
 '0-2 Yrs',
 '1-2 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '12-14 Yrs',
 '3-6 Yrs',
 '2-5 Yrs']

In [21]:
#program to extract all xpaths
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [22]:
loc_tags=loc_tags[0:11]

In [23]:
#program to find location
loc=[]
for i in loc_tags:
    loc.append(i.text)
loc

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [24]:
#program to create a DataFrame
df=pd.DataFrame({'Job Title':job_titles,'Company':comp_name,'Experience':exp,'Location':loc})
df

,Job Title,Company,Experience,Location
0,Senior Data Analyst,Flipkart,4-6 Yrs,Bengaluru/Bangalore
1,Assistant Clinical Data Analyst,Labcorp Drug Development India Private Limited,0-2 Yrs,Bangalore/Bengaluru
2,Data Analyst,Flipkart,1-2 Yrs,Bengaluru/Bangalore
3,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bengaluru/Bangalore
4,Hiring For Data Analyst,Flipkart,4-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
6,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
7,Data Analyst,Snaphunt,0-2 Yrs,Bangalore/Bengaluru
8,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
9,Data Analyst / Sr. Data Analyst,Vmware,3-6 Yrs,Bangalore/Bengaluru
10,Senior Data Analyst - CRM,Gojek Tech,2-5 Yrs,Bangalore/Bengaluru

# Question 2 Naukri.com

### Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [25]:
#program to open website
url='https://www.naukri.com/'
driver.get(url)

#program to find searchbar
search_jobs=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_jobs

#program to enter words in searchbar
search_jobs.send_keys('Data Scientist')

#program to find searchbar
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

#program to enter words in searchbar
search_loc.send_keys('Bangalore')

#program to find search button
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

#program to click on search button
search_btn.click()

In [26]:
#program to extract all xpaths
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags=title_tags[0:11]

#program to find job titles
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles
#program to extract all xpaths
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

company_tags=company_tags[0:11]

#program to find company names
comp_name=[]
for i in company_tags:
    comp_name.append(i.text)
comp_name

#program to extract all xpaths
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

exp_tags=exp_tags[0:11]

#program to find experience
exp=[]
for i in exp_tags:
    exp.append(i.text)
exp

#program to extract all xpaths
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

loc_tags=loc_tags[0:11]

#program to find location
loc=[]
for i in loc_tags:
    loc.append(i.text)
loc

#program to create a DataFrame
df=pd.DataFrame({'Job Title':job_titles,'Company':comp_name,'Experience':exp,'Location':loc})
df

,Job Title,Company,Experience,Location
0,Sr Data Scientist,Siemens,0-6 Yrs,Bangalore/Bengaluru
1,Senior/Lead Data Scientist - (Revenue Management),o9 Solutions Management India Private Limited,4-9 Yrs,Bangalore/Bengaluru
2,Senior/Lead - Data Scientist (Supply Chain),o9 Solutions Management India Private Limited,4-9 Yrs,Bangalore/Bengaluru
3,Associate Data Scientist,Shell,2-7 Yrs,"Chennai, Bangalore/Bengaluru"
4,Junior Programmer - Data Scientist,GSK India,2-5 Yrs,Bangalore/Bengaluru
5,Lead/Senior Data Scientist (NLP),Samya.AI A FRACTAL Entity,3-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
6,Data Scientist: Advanced Analytics,IBM,5-7 Yrs,Bengaluru/Bangalore
7,Sr. Data Scientist,Siemens,3-8 Yrs,Bangalore/Bengaluru
8,Lead Data Scientist,Gadgeon Smart Systems,2-7 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
9,Senior Data Scientist,Dell,5-8 Yrs,Bangalore/Bengaluru
10,Senior Data Scientist,Dell,8-12 Yrs,Bangalore/Bengaluru

# Question 3 Naukri.com

In [32]:
#program to open website
url='https://www.naukri.com/'
driver.get(url)

#program to find searchbar
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

#program to enter words in searchbar
search_job.send_keys('Data Scientist')

#program to find search button
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

#program to click on search button
search_btn.click()

In [33]:
#program to check location
loc_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
loc_check.click()

In [34]:
#program to check salary
sal_check=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
sal_check.click()

In [35]:
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

title_tag=title_tag[0:10]

#program to find job title
job_title=[]
for i in title_tag:
    job_title.append(i.text)
job_title

['Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Senior Data Scientist I',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist role',
 'Data Scientist role',
 'Data Scientist role']

In [36]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

company_tags=company_tags[0:10]

#program to find company name
comp_name=[]
for i in company_tags:
    comp_name.append(i.text)
comp_name

['Schlesinger Group',
 'HCL',
 'Delhivery',
 'Pluto seven business solutions (p) limited',
 'T & A Solutions',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited']

In [38]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

exp_tags=exp_tags[0:10]

#program to find job experience
exp=[]
for i in exp_tags:
    exp.append(i.text)
exp

['0-3 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '1-3 Yrs']

In [39]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

loc_tags=loc_tags[0:10]

#program to find job location
loc=[]
for i in loc_tags:
    loc.append(i.text)
loc

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)']

In [40]:
#program to create a dataframe
df=pd.DataFrame({'Job Title':job_title,'Company':comp_name,'Experience':exp,'Location':loc})
df

,Job Title,Company,Experience,Location
0,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,0-3 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL,2-6 Yrs,Delhi / NCR
2,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
3,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
4,Data Scientist,T & A Solutions,2-6 Yrs,Gurgaon/Gurugram
5,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Data Scientist role,Mount Talent Consulting Private Limited,1-4 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
8,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
9,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."

# Question 4 flipkart.com/sunglasses

In [ ]:
#Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand
#2. Product Description
#3. Price

In [41]:
#program to open website
url='https://www.flipkart.com/'
driver.get(url)

In [42]:
#program to put cursor on searchbox
search_gls=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_gls

#program to enter Sunglasses
search_gls.send_keys('Sunglasses')

In [44]:
#program to put cursor on search button
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

#program to click search button
search_btn.click()

In [47]:
title_tag=driver.find_elements_by_xpath('//a[@class="s1Q9rs"]')
title_tag2=driver.find_elements_by_xpath('//a[@class="s1Q9rs"]')
title_tag3=driver.find_elements_by_xpath('//a[@class="s1Q9rs"]')

In [48]:
#program to find 100 sunglasses
brand=[]
for i in title_tag:
    brand.append(i.text)
for j in title_tag2:
    brand.append(j.text)
for k in title_tag3:
    brand.append(k.text)
brand=brand[0:100]
brand

['VINCENT CHASE by Lenskart Aviator Sunglasses',
 "Clark N' Palmer Aviator Sunglasses",
 'Elligator Round Sunglasses',
 'PIRASO Aviator Sunglasses',
 'SRPM Wayfarer Sunglasses',
 'Fastrack Wayfarer Sunglasses',
 'kingsunglasses Round Sunglasses',
 'VINCENT CHASE by Lenskart Wayfarer Sunglasses',
 'SHAAH COLLECTIONS Rectangular Sunglasses',
 'PIRASO Aviator Sunglasses',
 'New Specs Rectangular Sunglasses',
 'VINCENT CHASE by Lenskart Wayfarer Sunglasses',
 'New Specs Round Sunglasses',
 'SUNBEE Round Sunglasses',
 'ROZZETTA CRAFT Retro Square Sunglasses',
 "Clark N' Palmer Aviator Sunglasses",
 'kingsunglasses Wayfarer Sunglasses',
 'Elligator Round Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'AISLIN Cat-eye, Oval Sunglasses',
 'DAHAAZIL Wayfarer, Wayfarer, Wayfarer Sunglasses',
 'Lee Topper Wrap-around Sunglasses',
 'PIRASO Wayfarer Sunglasses',
 'VAST Wrap-around Sunglasses',
 'ROZZETTA CRAFT Rectangular Sunglasses',
 'SHAAH COLLECTIONS Rectangular Sunglasses',
 'SUNBEE Wayfarer Sunglasses',
 'AISLIN Sports Sunglasses',
 'ROYAL SON Aviator Sunglasses',
 'hipe Aviator Sunglasses',
 'IZAAN MART Aviator Sunglasses',
 'AISLIN Aviator Sunglasses',
 'Fastrack Wayfarer Sunglasses',
 'EMDEE COLLECTION Retro Square Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'AISLIN Wayfarer, Rectangular Sunglasses',
 'New Specs Round Sunglasses',
 'PIRASO Aviator Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'chawla fashion Rectangular Sunglasses',
 'VINCENT CHASE by Lenskart Aviator Sunglasses',
 "Clark N' Palmer Aviator Sunglasses",
 'Elligator Round Sunglasses',
 'PIRASO Aviator Sunglasses',
 'SRPM Wayfarer Sunglasses',
 'Fastrack Wayfarer Sunglasses',
 'kingsunglasses Round Sunglasses',
 'VINCENT CHASE by Lenskart Wayfarer Sunglasses',
 'SHAAH COLLECTIONS Rectangular Sunglasses',
 'PIRASO Aviator Sunglasses',
 'New Specs Rectangular Sunglasses',
 'VINCENT CHASE by Lenskart Wayfarer Sunglasses',
 'New Specs Round Sunglasses',
 'SUNBEE Round Sunglasses',
 'ROZZETTA CRAFT Retro Square Sunglasses',
 "Clark N' Palmer Aviator Sunglasses",
 'kingsunglasses Wayfarer Sunglasses',
 'Elligator Round Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'AISLIN Cat-eye, Oval Sunglasses',
 'DAHAAZIL Wayfarer, Wayfarer, Wayfarer Sunglasses',
 'Lee Topper Wrap-around Sunglasses',
 'PIRASO Wayfarer Sunglasses',
 'VAST Wrap-around Sunglasses',
 'ROZZETTA CRAFT Rectangular Sunglasses',
 'SHAAH COLLECTIONS Rectangular Sunglasses',
 'SUNBEE Wayfarer Sunglasses',
 'AISLIN Sports Sunglasses',
 'ROYAL SON Aviator Sunglasses',
 'hipe Aviator Sunglasses',
 'IZAAN MART Aviator Sunglasses',
 'AISLIN Aviator Sunglasses',
 'Fastrack Wayfarer Sunglasses',
 'EMDEE COLLECTION Retro Square Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'AISLIN Wayfarer, Rectangular Sunglasses',
 'New Specs Round Sunglasses',
 'PIRASO Aviator Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'chawla fashion Rectangular Sunglasses',
 'VINCENT CHASE by Lenskart Aviator Sunglasses',
 "Clark N' Palmer Aviator Sunglasses",
 'Elligator Round Sunglasses',
 'PIRASO Aviator Sunglasses',
 'SRPM Wayfarer Sunglasses',
 'Fastrack Wayfarer Sunglasses',
 'kingsunglasses Round Sunglasses',
 'VINCENT CHASE by Lenskart Wayfarer Sunglasses',
 'SHAAH COLLECTIONS Rectangular Sunglasses',
 'PIRASO Aviator Sunglasses',
 'New Specs Rectangular Sunglasses',
 'VINCENT CHASE by Lenskart Wayfarer Sunglasses',
 'New Specs Round Sunglasses',
 'SUNBEE Round Sunglasses',
 'ROZZETTA CRAFT Retro Square Sunglasses',
 "Clark N' Palmer Aviator Sunglasses",
 'kingsunglasses Wayfarer Sunglasses',
 'Elligator Round Sunglasses',
 'PHENOMENAL Retro Square Sunglasses',
 'AISLIN Cat-eye, Oval Sunglasses']

In [50]:
prod_des=driver.find_elements_by_xpath('//div[@class="_3Djpdu"]')
prod_des2=driver.find_elements_by_xpath('//div[@class="_3Djpdu"]')
prod_des3=driver.find_elements_by_xpath('//div[@class="_3Djpdu"]')

#program to find 100 sunglasses design
design=[]
for i in prod_des:
    design.append(i.text)
for j in prod_des2:
    design.append(j.text)
for k in prod_des3:
    design.append(k.text)
design=design[0:100]
design

['For Men & Women, Blue',
 'For Boys, Blue',
 'For Men & Women, Multicolor',
 'For Men & Women, Black',
 'For Men & Women, Clear, Black, Brown',
 'For Men, Green',
 'For Men & Women, Clear',
 'For Men & Women, Brown',
 'For Men & Women, Black',
 'For Men & Women, Black, Golden',
 'For Men & Women, Red, Black, Yellow, Blue, Black',
 'For Men & Women, Brown',
 'For Men & Women, Black, Blue, Red, Yellow, Blue',
 'For Men & Women, Red, Blue, Pink, Blue, Yellow, Black',
 'For Men & Women, Blue',
 'For Boys, Pink',
 'For Men & Women, Blue, Clear, Green, Black, Brown, Silver',
 'For Men & Women, Red, Yellow, Blue',
 'For Men & Women, Yellow, Red',
 'For Women, Brown',
 'For Boys & Girls, Black, Clear, Brown',
 'For Men & Women, Yellow',
 'For Men & Women, Black',
 'For Men & Women, Yellow',
 'For Men & Women, Blue',
 'For Men & Women, Black',
 'For Men, Red, Brown, Clear, Green, Blue, Black, Violet',
 'For Men & Women, Green, Blue',
 'For Men, Black, Brown',
 'For Men & Women, Blue',
 'For Men & Women, Blue, Clear',
 'For Men & Women, Green',
 'For Men, Green',
 'For Boys & Girls, Black',
 'For Men & Women, Red, Black',
 'For Men, Green',
 'For Men & Women, Red, Black, Silver, Blue',
 'For Men & Women, Green',
 'For Men & Women, Black',
 'For Men & Women, Red',
 'For Men & Women, Blue',
 'For Boys, Blue',
 'For Men & Women, Multicolor',
 'For Men & Women, Black',
 'For Men & Women, Clear, Black, Brown',
 'For Men, Green',
 'For Men & Women, Clear',
 'For Men & Women, Brown',
 'For Men & Women, Black',
 'For Men & Women, Black, Golden',
 'For Men & Women, Red, Black, Yellow, Blue, Black',
 'For Men & Women, Brown',
 'For Men & Women, Black, Blue, Red, Yellow, Blue',
 'For Men & Women, Red, Blue, Pink, Blue, Yellow, Black',
 'For Men & Women, Blue',
 'For Boys, Pink',
 'For Men & Women, Blue, Clear, Green, Black, Brown, Silver',
 'For Men & Women, Red, Yellow, Blue',
 'For Men & Women, Yellow, Red',
 'For Women, Brown',
 'For Boys & Girls, Black, Clear, Brown',
 'For Men & Women, Yellow',
 'For Men & Women, Black',
 'For Men & Women, Yellow',
 'For Men & Women, Blue',
 'For Men & Women, Black',
 'For Men, Red, Brown, Clear, Green, Blue, Black, Violet',
 'For Men & Women, Green, Blue',
 'For Men, Black, Brown',
 'For Men & Women, Blue',
 'For Men & Women, Blue, Clear',
 'For Men & Women, Green',
 'For Men, Green',
 'For Boys & Girls, Black',
 'For Men & Women, Red, Black',
 'For Men, Green',
 'For Men & Women, Red, Black, Silver, Blue',
 'For Men & Women, Green',
 'For Men & Women, Black',
 'For Men & Women, Red',
 'For Men & Women, Blue',
 'For Boys, Blue',
 'For Men & Women, Multicolor',
 'For Men & Women, Black',
 'For Men & Women, Clear, Black, Brown',
 'For Men, Green',
 'For Men & Women, Clear',
 'For Men & Women, Brown',
 'For Men & Women, Black',
 'For Men & Women, Black, Golden',
 'For Men & Women, Red, Black, Yellow, Blue, Black',
 'For Men & Women, Brown',
 'For Men & Women, Black, Blue, Red, Yellow, Blue',
 'For Men & Women, Red, Blue, Pink, Blue, Yellow, Black',
 'For Men & Women, Blue',
 'For Boys, Pink',
 'For Men & Women, Blue, Clear, Green, Black, Brown, Silver',
 'For Men & Women, Red, Yellow, Blue',
 'For Men & Women, Yellow, Red',
 'For Women, Brown']

In [51]:
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

#program to find 100 sunglasses price
price=[]
for i in price_tag:
    price.append(i.text)
for j in price_tag2:
    price.append(j.text)
for k in price_tag3:
    price.append(k.text)
price=price[0:100]
price

['₹999',
 '₹499',
 '₹248',
 '₹200',
 '₹198',
 '₹759',
 '₹188',
 '₹999',
 '₹165',
 '₹200',
 '₹259',
 '₹999',
 '₹262',
 '₹271',
 '₹474',
 '₹499',
 '₹273',
 '₹189',
 '₹309',
 '₹472',
 '₹176',
 '₹276',
 '₹190',
 '₹799',
 '₹383',
 '₹181',
 '₹243',
 '₹698',
 '₹359',
 '₹178',
 '₹395',
 '₹829',
 '₹499',
 '₹399',
 '₹299',
 '₹872',
 '₹233',
 '₹200',
 '₹299',
 '₹190',
 '₹999',
 '₹499',
 '₹248',
 '₹200',
 '₹198',
 '₹759',
 '₹188',
 '₹999',
 '₹165',
 '₹200',
 '₹259',
 '₹999',
 '₹262',
 '₹271',
 '₹474',
 '₹499',
 '₹273',
 '₹189',
 '₹309',
 '₹472',
 '₹176',
 '₹276',
 '₹190',
 '₹799',
 '₹383',
 '₹181',
 '₹243',
 '₹698',
 '₹359',
 '₹178',
 '₹395',
 '₹829',
 '₹499',
 '₹399',
 '₹299',
 '₹872',
 '₹233',
 '₹200',
 '₹299',
 '₹190',
 '₹999',
 '₹499',
 '₹248',
 '₹200',
 '₹198',
 '₹759',
 '₹188',
 '₹999',
 '₹165',
 '₹200',
 '₹259',
 '₹999',
 '₹262',
 '₹271',
 '₹474',
 '₹499',
 '₹273',
 '₹189',
 '₹309',
 '₹472']

In [52]:
disc_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disc_tag2=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disc_tag3=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

#program to find 100 sunglasses discount
discount=[]
for i in disc_tag:
    discount.append(i.text)
for j in disc_tag2:
    discount.append(j.text)
for k in disc_tag3:
    discount.append(k.text)
discount=discount[0:100]
discount

['50% off',
 '72% off',
 '90% off',
 '87% off',
 '84% off',
 '15% off',
 '81% off',
 '50% off',
 '90% off',
 '87% off',
 '87% off',
 '50% off',
 '83% off',
 '84% off',
 '78% off',
 '72% off',
 '86% off',
 '87% off',
 '84% off',
 '72% off',
 '82% off',
 '88% off',
 '88% off',
 '73% off',
 '80% off',
 '81% off',
 '81% off',
 '75% off',
 '76% off',
 '85% off',
 '80% off',
 '77% off',
 '37% off',
 '50% off',
 '85% off',
 '76% off',
 '82% off',
 '87% off',
 '85% off',
 '80% off',
 '50% off',
 '72% off',
 '90% off',
 '87% off',
 '84% off',
 '15% off',
 '81% off',
 '50% off',
 '90% off',
 '87% off',
 '87% off',
 '50% off',
 '83% off',
 '84% off',
 '78% off',
 '72% off',
 '86% off',
 '87% off',
 '84% off',
 '72% off',
 '82% off',
 '88% off',
 '88% off',
 '73% off',
 '80% off',
 '81% off',
 '81% off',
 '75% off',
 '76% off',
 '85% off',
 '80% off',
 '77% off',
 '37% off',
 '50% off',
 '85% off',
 '76% off',
 '82% off',
 '87% off',
 '85% off',
 '80% off',
 '50% off',
 '72% off',
 '90% off',
 '87% off',
 '84% off',
 '15% off',
 '81% off',
 '50% off',
 '90% off',
 '87% off',
 '87% off',
 '50% off',
 '83% off',
 '84% off',
 '78% off',
 '72% off',
 '86% off',
 '87% off',
 '84% off',
 '72% off']

In [53]:
#program to create a database
df=pd.DataFrame({'Brand':brand,'Product Design':design,'Price':price,'Discount':discount})
df

,Brand,Product Design,Price,Discount
0,VINCENT CHASE by Lenskart Aviator Sunglasses,"For Men & Women, Blue",₹999,50% off
1,Clark N' Palmer Aviator Sunglasses,"For Boys, Blue",₹499,72% off
2,Elligator Round Sunglasses,"For Men & Women, Multicolor",₹248,90% off
3,PIRASO Aviator Sunglasses,"For Men & Women, Black",₹200,87% off
4,SRPM Wayfarer Sunglasses,"For Men & Women, Clear, Black, Brown",₹198,84% off
...,...,...,...,...
95,Clark N' Palmer Aviator Sunglasses,"For Boys, Pink",₹499,72% off
96,kingsunglasses Wayfarer Sunglasses,"For Men & Women, Blue, Clear, Green, Black, Br...",₹273,86% off
97,Elligator Round Sunglasses,"For Men & Women, Red, Yellow, Blue",₹189,87% off
98,PHENOMENAL Retro Square Sunglasses,"For Men & Women, Yellow, Red",₹309,84% off
99,"AISLIN Cat-eye, Oval Sunglasses","For Women, Brown",₹472,72% off

# Question 5 flipkart.com/iphone11

### Scrape 100 reviews data from flipkart.com for iphone11 phone

In [55]:
#program to open website
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC'
driver.get(url)

In [70]:
#program to click on all reviews
view_all=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
view_all.click()

In [72]:
#program to find 100 rating
rating=[]
for page in range(1,11,1):
    rat_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in rat_tag:
        rating.append(i.text)
print(len(rating))
print(rating)

100
['5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [75]:
#program to find 100 review
review=[]
for page in range(1,11,1):
    rev_tag=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in rev_tag:
        review.append(i.text)
len(review)
print(review)

['Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny']

In [66]:
#program to find 100 full review
full_rev=[]
for page in range(1,11,1):
    full_rev_tag=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in full_rev_tag:
        full_rev.append(i.text)
len(full_rev)

100

In [67]:
#program to create a database
df=pd.DataFrame({'Rating':rating, 'Review Smmary':review, 'Full Review':full_rev})
df

   Rating     Review Smmary                                        Full Review
0       5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1       5    Simply awesome  Really satisfied with the Product I received.....
2       5  Perfect product!  Amazing phone with great cameras and better ba...
3       5                    Great iPhone very snappy experience as apple k...
4       5                    Previously I was using one plus 3t it was a gr...
..    ...               ...                                                ...
95      5                    This is my first iOS phone. I am very happy wi...
96      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
97      4                    So far it’s been an AMAZING experience coming ...
98      5                    What a camera .....just awesome ..you can feel...
99      5                    i11 is worthy to buy, too much happy with the ...

[100 rows x 3 columns]

In [68]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [69]:
df

   Rating     Review Smmary                                        Full Review
0       5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1       5    Simply awesome  Really satisfied with the Product I received.....
2       5  Perfect product!  Amazing phone with great cameras and better ba...
3       5                    Great iPhone very snappy experience as apple k...
4       5                    Previously I was using one plus 3t it was a gr...
5       5                    This is my first iOS phone. I am very happy wi...
6       5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
7       4                    So far it’s been an AMAZING experience coming ...
8       5                    What a camera .....just awesome ..you can feel...
9       5                    i11 is worthy to buy, too much happy with the ...
10      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
11      5    Simply awesome  Really satisfied with the Product I received.....
12      5  Perfect product!  Amazing phone with great cameras and better ba...
13      5                    Great iPhone very snappy experience as apple k...
14      5                    Previously I was using one plus 3t it was a gr...
15      5                    This is my first iOS phone. I am very happy wi...
16      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
17      4                    So far it’s been an AMAZING experience coming ...
18      5                    What a camera .....just awesome ..you can feel...
19      5                    i11 is worthy to buy, too much happy with the ...
20      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
21      5    Simply awesome  Really satisfied with the Product I received.....
22      5  Perfect product!  Amazing phone with great cameras and better ba...
23      5                    Great iPhone very snappy experience as apple k...
24      5                    Previously I was using one plus 3t it was a gr...
25      5                    This is my first iOS phone. I am very happy wi...
26      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
27      4                    So far it’s been an AMAZING experience coming ...
28      5                    What a camera .....just awesome ..you can feel...
29      5                    i11 is worthy to buy, too much happy with the ...
30      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
31      5    Simply awesome  Really satisfied with the Product I received.....
32      5  Perfect product!  Amazing phone with great cameras and better ba...
33      5                    Great iPhone very snappy experience as apple k...
34      5                    Previously I was using one plus 3t it was a gr...
35      5                    This is my first iOS phone. I am very happy wi...
36      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
37      4                    So far it’s been an AMAZING experience coming ...
38      5                    What a camera .....just awesome ..you can feel...
39      5                    i11 is worthy to buy, too much happy with the ...
40      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
41      5    Simply awesome  Really satisfied with the Product I received.....
42      5  Perfect product!  Amazing phone with great cameras and better ba...
43      5                    Great iPhone very snappy experience as apple k...
44      5                    Previously I was using one plus 3t it was a gr...
45      5                    This is my first iOS phone. I am very happy wi...
46      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
47      4                    So far it’s been an AMAZING experience coming ...
48      5                    What a camera .....just awesome ..you can feel...
49      5                    i11 is worthy to buy, too much happy with the ...
50      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
51      5    Simply awesome  Really satisfied with the Product I received.....
52      5  Perfect product!  Amazing phone with great cameras and better ba...
53      5                    Great iPhone very snappy experience as apple k...
54      5                    Previously I was using one plus 3t it was a gr...
55      5                    This is my first iOS phone. I am very happy wi...
56      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
57      4                    So far it’s been an AMAZING experience coming ...
58      5                    What a camera .....just awesome ..you can feel...
59      5                    i11 is worthy to buy, too much happy with the ...
60      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
61      5    Simply awesome  Really satisfied with the Product I received.....
62      5  Perfect product!  Amazing phone with great cameras and better ba...
63      5                    Great iPhone very snappy experience as apple k...
64      5                    Previously I was using one plus 3t it was a gr...
65      5                    This is my first iOS phone. I am very happy wi...
66      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
67      4                    So far it’s been an AMAZING experience coming ...
68      5                    What a camera .....just awesome ..you can feel...
69      5                    i11 is worthy to buy, too much happy with the ...
70      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
71      5    Simply awesome  Really satisfied with the Product I received.....
72      5  Perfect product!  Amazing phone with great cameras and better ba...
73      5                    Great iPhone very snappy experience as apple k...
74      5                    Previously I was using one plus 3t it was a gr...
75      5                    This is my first iOS phone. I am very happy wi...
76      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
77      4                    So far it’s been an AMAZING experience coming ...
78      5                    What a camera .....just awesome ..you can feel...
79      5                    i11 is worthy to buy, too much happy with the ...
80      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
81      5    Simply awesome  Really satisfied with the Product I received.....
82      5  Perfect product!  Amazing phone with great cameras and better ba...
83      5                    Great iPhone very snappy experience as apple k...
84      5                    Previously I was using one plus 3t it was a gr...
85      5                    This is my first iOS phone. I am very happy wi...
86      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
87      4                    So far it’s been an AMAZING experience coming ...
88      5                    What a camera .....just awesome ..you can feel...
89      5                    i11 is worthy to buy, too much happy with the ...
90      5         Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
91      5    Simply awesome  Really satisfied with the Product I received.....
92      5  Perfect product!  Amazing phone with great cameras and better ba...
93      5                    Great iPhone very snappy experience as apple k...
94      5                    Previously I was using one plus 3t it was a gr...
95      5                    This is my first iOS phone. I am very happy wi...
96      5                    Amazing Powerful and Durable Gadget.\n\nI’m am...
97      4                    So far it’s been an AMAZING experience coming ...
98      5                    What a camera .....just awesome ..you can feel...
99      5                    i11 is worthy to buy, too much happy with the ...

# Question 6 flipkart.com/sneakers

### Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [76]:
#program to open website
url='https://www.flipkart.com/'
driver.get(url)

In [77]:
#program to put cursor on searchbox
srch_shoe=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
srch_shoe

In [78]:
#program to enter sneakers
srch_shoe.send_keys('Sneakers')

In [84]:
#program to put cursor on searchbutton
search_btn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

#program to put click on searchbutton
search_btn.click()

In [87]:
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [101]:
#program to find 100 brand
brand=[]
for i in brand_tag:
    brand.append(i.text)
for j in brand_tag2:
    brand.append(j.text)
for k in brand_tag3:
    brand.append(k.text)
brand=brand[0:99]
brand

['DUNKASTON',
 'Echor',
 'luxury fashion',
 'Stefano Rads',
 'Trendmode',
 'Shoes Bank',
 'Extoes',
 'Longwalk',
 'D-SNEAKERZ',
 'SCATCHITE',
 'Numenzo',
 'luxury fashion',
 'ASTEROID',
 'Pieds',
 'HOTSTYLE',
 'LE GREEM',
 'Arohi',
 'Rzisbo',
 'Kraasa',
 'Baogi',
 'Robbie jones',
 'BIRDE',
 'ASTEROID',
 'Longwalk',
 'Kraasa',
 'Jabra',
 'RapidBox',
 'Infinix',
 'World Wear Footwear',
 'ESSENCE',
 'BRUTON',
 'Longwalk',
 'India hub',
 'RINDAS',
 'Robbie jones',
 'Longwalk',
 'Robbie jones',
 'Absolute comfort',
 'Lee Won',
 'Advick',
 'DUNKASTON',
 'Echor',
 'luxury fashion',
 'Stefano Rads',
 'Trendmode',
 'Shoes Bank',
 'Extoes',
 'Longwalk',
 'D-SNEAKERZ',
 'SCATCHITE',
 'Numenzo',
 'luxury fashion',
 'ASTEROID',
 'Pieds',
 'HOTSTYLE',
 'LE GREEM',
 'Arohi',
 'Rzisbo',
 'Kraasa',
 'Baogi',
 'Robbie jones',
 'BIRDE',
 'ASTEROID',
 'Longwalk',
 'Kraasa',
 'Jabra',
 'RapidBox',
 'Infinix',
 'World Wear Footwear',
 'ESSENCE',
 'BRUTON',
 'Longwalk',
 'India hub',
 'RINDAS',
 'Robbie jones',
 'Longwalk',
 'Robbie jones',
 'Absolute comfort',
 'Lee Won',
 'Advick',
 'DUNKASTON',
 'Echor',
 'luxury fashion',
 'Stefano Rads',
 'Trendmode',
 'Shoes Bank',
 'Extoes',
 'Longwalk',
 'D-SNEAKERZ',
 'SCATCHITE',
 'Numenzo',
 'luxury fashion',
 'ASTEROID',
 'Pieds',
 'HOTSTYLE',
 'LE GREEM',
 'Arohi',
 'Rzisbo',
 'Kraasa']

In [102]:
prod_des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
prod_des2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
prod_des3=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

#program to find 100 sneaker description
design=[]
for i in prod_des:
    design.append(i.text)
for j in prod_des2:
    design.append(j.text)
for k in prod_des3:
    design.append(k.text)
design=design[0:99]
design

['Sneakers For Men',
 "Men's Canvas Low Top Sneakers Lace-up Classic Casual Sn...",
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Perfect Stylish Girls Casual Shoes Sneakers For Women',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'luxury fashionable casual snealer shoes Sneakers For Me...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Women',
 'Shark-41 Sneakers For Men',
 'Perfect Combo Sport Shoes for Running Training Hiking F...',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Casuals Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers For Women',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 "Perfect Stylish Casual Shoes For Girls & Women's Casual...",
 'Sneakers For Men',
 'Sneakers For Women',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Canvas Low Top Sneakers Lace-up Classic Casual Sn...",
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Perfect Stylish Girls Casual Shoes Sneakers For Women',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'luxury fashionable casual snealer shoes Sneakers For Me...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Women',
 'Shark-41 Sneakers For Men',
 'Perfect Combo Sport Shoes for Running Training Hiking F...',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Casuals Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers For Women',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 "Perfect Stylish Casual Shoes For Girls & Women's Casual...",
 'Sneakers For Men',
 'Sneakers For Women',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Canvas Low Top Sneakers Lace-up Classic Casual Sn...",
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'Perfect Stylish Girls Casual Shoes Sneakers For Women',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'luxury fashionable casual snealer shoes Sneakers For Me...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Women',
 'Shark-41 Sneakers For Men',
 'Perfect Combo Sport Shoes for Running Training Hiking F...',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Casuals Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers For Women',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 "Perfect Stylish Casual Shoes For Girls & Women's Casual...",
 'Sneakers For Men',
 'Sneakers For Women',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [103]:
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

#program to find 100 sneakers price
price=[]
for i in price_tag:
    price.append(i.text)
for j in price_tag2:
    price.append(j.text)
for k in price_tag3:
    price.append(k.text)
price=price[0:99]
price

['₹449',
 '₹386',
 '₹449',
 '₹242',
 '₹359',
 '₹345',
 '₹948',
 '₹339',
 '₹348',
 '₹398',
 '₹479',
 '₹449',
 '₹499',
 '₹449',
 '₹298',
 '₹449',
 '₹398',
 '₹574',
 '₹499',
 '₹449',
 '₹499',
 '₹299',
 '₹499',
 '₹598',
 '₹499',
 '₹499',
 '₹640',
 '₹399',
 '₹199',
 '₹449',
 '₹379',
 '₹348',
 '₹449',
 '₹298',
 '₹499',
 '₹598',
 '₹451',
 '₹236',
 '₹299',
 '₹828',
 '₹449',
 '₹386',
 '₹449',
 '₹242',
 '₹359',
 '₹345',
 '₹948',
 '₹339',
 '₹348',
 '₹398',
 '₹479',
 '₹449',
 '₹499',
 '₹449',
 '₹298',
 '₹449',
 '₹398',
 '₹574',
 '₹499',
 '₹449',
 '₹499',
 '₹299',
 '₹499',
 '₹598',
 '₹499',
 '₹499',
 '₹640',
 '₹399',
 '₹199',
 '₹449',
 '₹379',
 '₹348',
 '₹449',
 '₹298',
 '₹499',
 '₹598',
 '₹451',
 '₹236',
 '₹299',
 '₹828',
 '₹449',
 '₹386',
 '₹449',
 '₹242',
 '₹359',
 '₹345',
 '₹948',
 '₹339',
 '₹348',
 '₹398',
 '₹479',
 '₹449',
 '₹499',
 '₹449',
 '₹298',
 '₹449',
 '₹398',
 '₹574',
 '₹499']

In [104]:
disc_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disc_tag2=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
disc_tag3=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

#program to find 100 sneakers discount
discount=[]
for i in disc_tag:
    discount.append(i.text)
for j in disc_tag2:
    discount.append(j.text)
for k in disc_tag3:
    discount.append(k.text)
discount=discount[0:99]
discount

['70% off',
 '74% off',
 '65% off',
 '65% off',
 '64% off',
 '65% off',
 '36% off',
 '66% off',
 '47% off',
 '60% off',
 '63% off',
 '65% off',
 '50% off',
 '55% off',
 '70% off',
 '55% off',
 '60% off',
 '42% off',
 '50% off',
 '55% off',
 '50% off',
 '40% off',
 '75% off',
 '40% off',
 '50% off',
 '61% off',
 '35% off',
 '69% off',
 '60% off',
 '55% off',
 '70% off',
 '56% off',
 '65% off',
 '70% off',
 '50% off',
 '40% off',
 '54% off',
 '76% off',
 '40% off',
 '66% off',
 '70% off',
 '74% off',
 '65% off',
 '65% off',
 '64% off',
 '65% off',
 '36% off',
 '66% off',
 '47% off',
 '60% off',
 '63% off',
 '65% off',
 '50% off',
 '55% off',
 '70% off',
 '55% off',
 '60% off',
 '42% off',
 '50% off',
 '55% off',
 '50% off',
 '40% off',
 '75% off',
 '40% off',
 '50% off',
 '61% off',
 '35% off',
 '69% off',
 '60% off',
 '55% off',
 '70% off',
 '56% off',
 '65% off',
 '70% off',
 '50% off',
 '40% off',
 '54% off',
 '76% off',
 '40% off',
 '66% off',
 '70% off',
 '74% off',
 '65% off',
 '65% off',
 '64% off',
 '65% off',
 '36% off',
 '66% off',
 '47% off',
 '60% off',
 '63% off',
 '65% off',
 '50% off',
 '55% off',
 '70% off',
 '55% off',
 '60% off',
 '42% off',
 '50% off']

In [105]:
len(brand),len(design),len(price),len(discount)

(99, 99, 99, 99)

In [106]:
#program to create a database
df=pd.DataFrame({'Brand':brand, 'Product Description':design, 'Price':price, 'Discount':discount})
df

,Brand,Product Description,Price,Discount
0,DUNKASTON,Sneakers For Men,₹449,70% off
1,Echor,Men's Canvas Low Top Sneakers Lace-up Classic ...,₹386,74% off
2,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹449,65% off
3,Stefano Rads,Sneakers For Men,₹242,65% off
4,Trendmode,White Sneaker For Men's/Boy's Sneakers For Men,₹359,64% off
5,Shoes Bank,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹345,65% off
6,Extoes,Perfect Stylish Girls Casual Shoes Sneakers Fo...,₹948,36% off
7,Longwalk,"Casual , Partywear Sneakers Shoes For Men's An...",₹339,66% off
8,D-SNEAKERZ,Sneakers Sneakers For Men,₹348,47% off
9,SCATCHITE,Sneakers For Men,₹398,60% off
10,Numenzo,luxury fashionable casual snealer shoes Sneake...,₹479,63% off
11,luxury fashion,Original Luxury Branded Fashionable Men's Casu...,₹449,65% off
12,ASTEROID,Sneakers For Men,₹499,50% off
13,Pieds,Comfortable & Ultra Light Weight Sneaker Sneak...,₹449,55% off
14,HOTSTYLE,Sneakers For Men,₹298,70% off
15,LE GREEM,Series 7 Sneakers For Men,₹449,55% off
16,Arohi,Sneakers For Men,₹398,60% off
17,Rzisbo,Sports Running Shoes Sneakers For Men,₹574,42% off
18,Kraasa,Original Luxury Branded Fashionable Men's Casu...,₹499,50% off
19,Baogi,Sneakers For Women,₹449,55% off
20,Robbie jones,Shark-41 Sneakers For Men,₹499,50% off
21,BIRDE,Perfect Combo Sport Shoes for Running Training...,₹299,40% off
22,ASTEROID,Latest Collection-1216 Stylish Casual Sports S...,₹499,75% off
23,Longwalk,Casuals Sneakers For Men,₹598,40% off
24,Kraasa,Modern Trendy Shoes Sneakers For Men,₹499,50% off
25,Jabra,Sneakers For Women,₹499,61% off
26,RapidBox,luxury fashionable casual sneaker shoes Sneake...,₹640,35% off
27,Infinix,Perfect Stylish Casual Shoes For Girls & Women...,₹399,69% off
28,World Wear Footwear,Sneakers For Men,₹199,60% off
29,ESSENCE,Sneakers For Women,₹449,55% off
30,BRUTON,Casual Sneakers Black Shoes For Men Sneakers F...,₹379,70% off
31,Longwalk,Sneakers For Men,₹348,56% off
32,India hub,Sneakers For Men,₹449,65% off
33,RINDAS,Sneakers For Men,₹298,70% off
34,Robbie jones,Men's Canvas Low Top Sneakers Lace-up Classic ...,₹499,50% off
35,Longwalk,Luxury Fashionable casual sneaker shoes Sneake...,₹598,40% off
36,Robbie jones,Sneakers For Men,₹451,54% off
37,Absolute comfort,White Sneaker For Men's/Boy's Sneakers For Men,₹236,76% off
38,Lee Won,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹299,40% off
39,Advick,Perfect Stylish Girls Casual Shoes Sneakers Fo...,₹828,66% off
40,DUNKASTON,"Casual , Partywear Sneakers Shoes For Men's An...",₹449,70% off
41,Echor,Sneakers Sneakers For Men,₹386,74% off
42,luxury fashion,Sneakers For Men,₹449,65% off
43,Stefano Rads,luxury fashionable casual snealer shoes Sneake...,₹242,65% off
44,Trendmode,Original Luxury Branded Fashionable Men's Casu...,₹359,64% off
45,Shoes Bank,Sneakers For Men,₹345,65% off
46,Extoes,Comfortable & Ultra Light Weight Sneaker Sneak...,₹948,36% off
47,Longwalk,Sneakers For Men,₹339,66% off
48,D-SNEAKERZ,Series 7 Sneakers For Men,₹348,47% off
49,SCATCHITE,Sneakers For Men,₹398,60% off
50,Numenzo,Sports Running Shoes Sneakers For Men,₹479,63% off
51,luxury fashion,Original Luxury Branded Fashionable Men's Casu...,₹449,65% off
52,ASTEROID,Sneakers For Women,₹499,50% off
53,Pieds,Shark-41 Sneakers For Men,₹449,55% off
54,HOTSTYLE,Perfect Combo Sport Shoes for Running Training...,₹298,70% off
55,LE GREEM,Latest Collection-1216 Stylish Casual Sports S...,₹449,55% off
56,Arohi,Casuals Sneakers For Men,₹398,60% off
57,Rzisbo,Modern Trendy Shoes Sneakers For Men,₹574,42% off
58,Kraasa,Sneakers For Women,₹499,50% off
59,Baogi,luxury fashionable casual sneaker shoes Sneake...,₹449,55% off
60,Robbie jones,Perfect Stylish Casual Shoes For Girls & Women...,₹499,50% off
61,BIRDE,Sneakers For Men,₹299,40% off
62,ASTEROID,Sneakers For Women,₹499,75% off
63,Longwalk,Casual Sneakers Black Shoes For Men Sneakers F...,₹598,40% off
64,Kraasa,Sneakers For Men,₹499,50% off
65,Jabra,Sneakers For Men,₹499,61% off
66,RapidBox,Sneakers For Men,₹640,35% off
67,Infinix,Men's Canvas Low Top Sneakers Lace-up Classic ...,₹399,69% off
68,World Wear Footwear,Luxury Fashionable casual sneaker shoes Sneake...,₹199,60% off
69,ESSENCE,Sneakers For Men,₹449,55% off
70,BRUTON,White Sneaker For Men's/Boy's Sneakers For Men,₹379,70% off
71,Longwalk,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹348,56% off
72,India hub,Perfect Stylish Girls Casual Shoes Sneakers Fo...,₹449,65% off
73,RINDAS,"Casual , Partywear Sneakers Shoes For Men's An...",₹298,70% off
74,Robbie jones,Sneakers Sneakers For Men,₹499,50% off
75,Longwalk,Sneakers For Men,₹598,40% off
76,Robbie jones,luxury fashionable casual snealer shoes Sneake...,₹451,54% off
77,Absolute comfort,Original Luxury Branded Fashionable Men's Casu...,₹236,76% off
78,Lee Won,Sneakers For Men,₹299,40% off
79,Advick,Comfortable & Ultra Light Weight Sneaker Sneak...,₹828,66% off
80,DUNKASTON,Sneakers For Men,₹449,70% off
81,Echor,Series 7 Sneakers For Men,₹386,74% off
82,luxury fashion,Sneakers For Men,₹449,65% off
83,Stefano Rads,Sports Running Shoes Sneakers For Men,₹242,65% off
84,Trendmode,Original Luxury Branded Fashionable Men's Casu...,₹359,64% off
85,Shoes Bank,Sneakers For Women,₹345,65% off
86,Extoes,Shark-41 Sneakers For Men,₹948,36% off
87,Longwalk,Perfect Combo Sport Shoes for Running Training...,₹339,66% off
88,D-SNEAKERZ,Latest Collection-1216 Stylish Casual Sports S...,₹348,47% off
89,SCATCHITE,Casuals Sneakers For Men,₹398,60% off
90,Numenzo,Modern Trendy Shoes Sneakers For Men,₹479,63% off
91,luxury fashion,Sneakers For Women,₹449,65% off
92,ASTEROID,luxury fashionable casual sneaker shoes Sneake...,₹499,50% off
93,Pieds,Perfect Stylish Casual Shoes For Girls & Women...,₹449,55% off
94,HOTSTYLE,Sneakers For Men,₹298,70% off
95,LE GREEM,Sneakers For Women,₹449,55% off
96,Arohi,Casual Sneakers Black Shoes For Men Sneakers F...,₹398,60% off
97,Rzisbo,Sneakers For Men,₹574,42% off
98,Kraasa,Sneakers For Men,₹499,50% off

# Question 7 myntra.com/shoes

In [ ]:
##Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
##And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [107]:
#program to open website
url='https://www.myntra.com/shoes'
driver.get(url)

In [109]:
#program to check on price
price_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [110]:
#program to check on color
color_check=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_check.click()

In [116]:
#program to find 100 brand
brand=[]
for page in range(0,2,1):
    brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand_tag:
        brand.append(i.text)
print(len(brand))
print(brand)

100
['Puma', 'Puma', 'Saint G', 'Puma', 'Puma', 'Bugatti', 'RARE RABBIT', 'Cole Haan', 'DAVINCHI', 'ASICS', 'Saint G', 'Bugatti', 'Geox', 'DAVINCHI', 'J.FONTINI', 'J.FONTINI', 'Saint G', 'RARE RABBIT', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Geox', 'Puma', 'Columbia', 'Louis Philippe', 'Bugatti', 'Heel & Buckle London', 'Xtep', 'J.FONTINI', 'DAVINCHI', 'DAVINCHI', 'Geox', 'Geox', 'Geox', 'Saint G', 'DAVINCHI', 'Pavers England', 'Cole Haan', 'Geox', 'Cole Haan', 'DAVINCHI', 'Pavers England', 'Saint G', 'Pavers England', 'Saint G', 'Pavers England', 'Saint G', 'Saint G', 'Saint G', 'Puma', 'Puma', 'Saint G', 'Puma', 'Puma', 'Bugatti', 'RARE RABBIT', 'Cole Haan', 'DAVINCHI', 'ASICS', 'Saint G', 'Bugatti', 'Geox', 'DAVINCHI', 'J.FONTINI', 'J.FONTINI', 'Saint G', 'RARE RABBIT', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Geox', 'Puma', 'Columbia', 'Louis Philippe', 'Bugatti', 'Heel & Buckle London', 'Xtep', 'J.FONTINI', 'DAVINCHI', 'DAVINCHI', 'Geox', 'Geox', 'Geox', 'Saint G', 'DAVINCHI', 'Pavers England', 'Cole Haan', 'Geox', 'Cole Haan', 'DAVINCHI', 'Pavers England', 'Saint G', 'Pavers England', 'Saint G', 'Pavers England', 'Saint G', 'Saint G', 'Saint G']

In [117]:
#program to find 100 brand description
desc=[]
for page in range(0,2,1):
    desc_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in desc_tag:
        desc.append(i.text)
print(len(desc))
print(desc)

100
['Men Running Shoes', 'Men Magnify Nitro Running', 'Men Mid-Top Chelsea Boots', 'Women Magnify Nitro Shoes', 'Men Electrify Nitro Running', 'Men Running Shoes', 'Men Leather Flat Boots', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Textured Formal Leather Loafers', 'Men Colourblocked PU Sneakers', 'Men Leather Chelsea Boots', 'Men Textured Leather High-Top Flat Boots', 'Men Leather Flat Boots', 'Men Solid Leather Formal Derbys', 'Men Textured Leather Loafers', 'Men Textured Leather Loafers', 'Women Leather Loafers', 'Men Textured Leather Loafers', 'Leather Wedge Heeled Boots with Buckles', 'Women Leather Heeled Boots', 'Embellished Leather Block Heeled Boots', 'Suede Party High-Top Block Heeled Boots', 'Women Leather Pumps', 'Women Velocity NITRO Runners', 'PEAKFREAK OUTDRY Trekking Shoe', 'Men Leather Formal Slip-Ons', 'Men Black Walking Shoes', 'Men Formal Leather Derby', 'Men Running Shoes', 'Men Black Leather Loafers', 'Ustraa black', 'Men Formal Leather Slip-Ons', 'Men Leather Loafers', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Women Leather Heeled Boots', 'Men Textured Formal Leather Loafers', 'Men Leather Driving Shoes', 'Women Open Toe Flats', 'Women Solid Leather Ballerinas', 'Women Solid Leather Ballerinas', 'Men Textured Leather Formal Slip-Ons', 'Men Solid Leather Formal Loafers', 'Leather Block Heeled Boots', 'Men Textured Leather Formal Slip-On Shoes', 'Leather Kitten Heeled Boots', 'Men Solid Leather Formal Derbys', 'Leather Block Heeled Boots with Bows', 'Leather Platform Heeled Boots', 'Textured Leather Party Kitten Heeled Boots', 'Men Running Shoes', 'Men Magnify Nitro Running', 'Men Mid-Top Chelsea Boots', 'Women Magnify Nitro Shoes', 'Men Electrify Nitro Running', 'Men Running Shoes', 'Men Leather Flat Boots', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Textured Formal Leather Loafers', 'Men Colourblocked PU Sneakers', 'Men Leather Chelsea Boots', 'Men Textured Leather High-Top Flat Boots', 'Men Leather Flat Boots', 'Men Solid Leather Formal Derbys', 'Men Textured Leather Loafers', 'Men Textured Leather Loafers', 'Women Leather Loafers', 'Men Textured Leather Loafers', 'Leather Wedge Heeled Boots with Buckles', 'Women Leather Heeled Boots', 'Embellished Leather Block Heeled Boots', 'Suede Party High-Top Block Heeled Boots', 'Women Leather Pumps', 'Women Velocity NITRO Runners', 'PEAKFREAK OUTDRY Trekking Shoe', 'Men Leather Formal Slip-Ons', 'Men Black Walking Shoes', 'Men Formal Leather Derby', 'Men Running Shoes', 'Men Black Leather Loafers', 'Ustraa black', 'Men Formal Leather Slip-Ons', 'Men Leather Loafers', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Women Leather Heeled Boots', 'Men Textured Formal Leather Loafers', 'Men Leather Driving Shoes', 'Women Open Toe Flats', 'Women Solid Leather Ballerinas', 'Women Solid Leather Ballerinas', 'Men Textured Leather Formal Slip-Ons', 'Men Solid Leather Formal Loafers', 'Leather Block Heeled Boots', 'Men Textured Leather Formal Slip-On Shoes', 'Leather Kitten Heeled Boots', 'Men Solid Leather Formal Derbys', 'Leather Block Heeled Boots with Bows', 'Leather Platform Heeled Boots', 'Textured Leather Party Kitten Heeled Boots']

In [128]:
#program to find 100 brand price
price=[]
for page in range(0,2,1):
    price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price_tag:
        price.append(i.text.split('.')[1])
print(len(price))
print(price)

100
[' 7149Rs', ' 8449Rs', ' 9810Rs', ' 7799Rs', ' 7499Rs', ' 7999Rs', ' 7999Rs', ' 11999', ' 8990', ' 9999', ' 10710Rs', ' 8399Rs', ' 8399Rs', ' 8990', ' 7990', ' 7990', ' 7500Rs', ' 7149Rs', ' 13410Rs', ' 13410Rs', ' 9546Rs', ' 9450Rs', ' 8999', ' 7149Rs', ' 9999', ' 8499', ' 7199Rs', ' 7990', ' 7699', ' 8490', ' 8990', ' 8990', ' 9999', ' 7999', ' 10990', ' 10710Rs', ' 8990', ' 7499', ' 11999', ' 8999', ' 13999', ' 8990', ' 7999', ' 8550Rs', ' 9999', ' 8910Rs', ' 8999', ' 12510Rs', ' 9810Rs', ' 11954Rs', ' 7149Rs', ' 8449Rs', ' 9810Rs', ' 7799Rs', ' 7499Rs', ' 7999Rs', ' 7999Rs', ' 11999', ' 8990', ' 9999', ' 10710Rs', ' 8399Rs', ' 8399Rs', ' 8990', ' 7990', ' 7990', ' 7500Rs', ' 7149Rs', ' 13410Rs', ' 13410Rs', ' 9546Rs', ' 9450Rs', ' 8999', ' 7149Rs', ' 9999', ' 8499', ' 7199Rs', ' 7990', ' 7699', ' 8490', ' 8990', ' 8990', ' 9999', ' 7999', ' 10990', ' 10710Rs', ' 8990', ' 7499', ' 11999', ' 8999', ' 13999', ' 8990', ' 7999', ' 8550Rs', ' 9999', ' 8910Rs', ' 8999', ' 12510Rs', ' 9810Rs', ' 11954Rs']

In [129]:
#program to create a database
df=pd.DataFrame({'Brand':brand, 'Shoe Description':desc, 'Price':price})
df

                   Brand                            Shoe Description     Price
0                   Puma                           Men Running Shoes    7149Rs
1                   Puma                   Men Magnify Nitro Running    8449Rs
2                Saint G                   Men Mid-Top Chelsea Boots    9810Rs
3                   Puma                   Women Magnify Nitro Shoes    7799Rs
4                   Puma                 Men Electrify Nitro Running    7499Rs
5                Bugatti                           Men Running Shoes    7999Rs
6            RARE RABBIT                      Men Leather Flat Boots    7999Rs
7              Cole Haan         Men GENERATION ZEROGRAND STITCHLITE     11999
8               DAVINCHI         Men Textured Formal Leather Loafers      8990
9                  ASICS               Men Colourblocked PU Sneakers      9999
10               Saint G                   Men Leather Chelsea Boots   10710Rs
11               Bugatti    Men Textured Leather High-Top Flat Boots    8399Rs
12                  Geox                      Men Leather Flat Boots    8399Rs
13              DAVINCHI             Men Solid Leather Formal Derbys      8990
14             J.FONTINI                Men Textured Leather Loafers      7990
15             J.FONTINI                Men Textured Leather Loafers      7990
16               Saint G                       Women Leather Loafers    7500Rs
17           RARE RABBIT                Men Textured Leather Loafers    7149Rs
18               Saint G     Leather Wedge Heeled Boots with Buckles   13410Rs
19               Saint G                  Women Leather Heeled Boots   13410Rs
20               Saint G      Embellished Leather Block Heeled Boots    9546Rs
21               Saint G     Suede Party High-Top Block Heeled Boots    9450Rs
22                  Geox                         Women Leather Pumps      8999
23                  Puma                Women Velocity NITRO Runners    7149Rs
24              Columbia              PEAKFREAK OUTDRY Trekking Shoe      9999
25        Louis Philippe                 Men Leather Formal Slip-Ons      8499
26               Bugatti                     Men Black Walking Shoes    7199Rs
27  Heel & Buckle London                    Men Formal Leather Derby      7990
28                  Xtep                           Men Running Shoes      7699
29             J.FONTINI                   Men Black Leather Loafers      8490
30              DAVINCHI                                Ustraa black      8990
31              DAVINCHI                 Men Formal Leather Slip-Ons      8990
32                  Geox                         Men Leather Loafers      9999
33                  Geox                   Women Solid Leather Pumps      7999
34                  Geox                   Women Solid Leather Pumps     10990
35               Saint G                  Women Leather Heeled Boots   10710Rs
36              DAVINCHI         Men Textured Formal Leather Loafers      8990
37        Pavers England                   Men Leather Driving Shoes      7499
38             Cole Haan                        Women Open Toe Flats     11999
39                  Geox              Women Solid Leather Ballerinas      8999
40             Cole Haan              Women Solid Leather Ballerinas     13999
41              DAVINCHI        Men Textured Leather Formal Slip-Ons      8990
42        Pavers England            Men Solid Leather Formal Loafers      7999
43               Saint G                  Leather Block Heeled Boots    8550Rs
44        Pavers England   Men Textured Leather Formal Slip-On Shoes      9999
45               Saint G                 Leather Kitten Heeled Boots    8910Rs
46        Pavers England             Men Solid Leather Formal Derbys      8999
47               Saint G        Leather Block Heeled Boots with Bows   12510Rs
48               Saint G               Leather Platform Heeled Boots    9810Rs
49               Saint G  Textured Leather Party Kitten Heeled Boots   11954Rs
50                  Puma                           Men Running Shoes    7149Rs
51                  Puma                   Men Magnify Nitro Running    8449Rs
52               Saint G                   Men Mid-Top Chelsea Boots    9810Rs
53                  Puma                   Women Magnify Nitro Shoes    7799Rs
54                  Puma                 Men Electrify Nitro Running    7499Rs
55               Bugatti                           Men Running Shoes    7999Rs
56           RARE RABBIT                      Men Leather Flat Boots    7999Rs
57             Cole Haan         Men GENERATION ZEROGRAND STITCHLITE     11999
58              DAVINCHI         Men Textured Formal Leather Loafers      8990
59                 ASICS               Men Colourblocked PU Sneakers      9999
60               Saint G                   Men Leather Chelsea Boots   10710Rs
61               Bugatti    Men Textured Leather High-Top Flat Boots    8399Rs
62                  Geox                      Men Leather Flat Boots    8399Rs
63              DAVINCHI             Men Solid Leather Formal Derbys      8990
64             J.FONTINI                Men Textured Leather Loafers      7990
65             J.FONTINI                Men Textured Leather Loafers      7990
66               Saint G                       Women Leather Loafers    7500Rs
67           RARE RABBIT                Men Textured Leather Loafers    7149Rs
68               Saint G     Leather Wedge Heeled Boots with Buckles   13410Rs
69               Saint G                  Women Leather Heeled Boots   13410Rs
70               Saint G      Embellished Leather Block Heeled Boots    9546Rs
71               Saint G     Suede Party High-Top Block Heeled Boots    9450Rs
72                  Geox                         Women Leather Pumps      8999
73                  Puma                Women Velocity NITRO Runners    7149Rs
74              Columbia              PEAKFREAK OUTDRY Trekking Shoe      9999
75        Louis Philippe                 Men Leather Formal Slip-Ons      8499
76               Bugatti                     Men Black Walking Shoes    7199Rs
77  Heel & Buckle London                    Men Formal Leather Derby      7990
78                  Xtep                           Men Running Shoes      7699
79             J.FONTINI                   Men Black Leather Loafers      8490
80              DAVINCHI                                Ustraa black      8990
81              DAVINCHI                 Men Formal Leather Slip-Ons      8990
82                  Geox                         Men Leather Loafers      9999
83                  Geox                   Women Solid Leather Pumps      7999
84                  Geox                   Women Solid Leather Pumps     10990
85               Saint G                  Women Leather Heeled Boots   10710Rs
86              DAVINCHI         Men Textured Formal Leather Loafers      8990
87        Pavers England                   Men Leather Driving Shoes      7499
88             Cole Haan                        Women Open Toe Flats     11999
89                  Geox              Women Solid Leather Ballerinas      8999
90             Cole Haan              Women Solid Leather Ballerinas     13999
91              DAVINCHI        Men Textured Leather Formal Slip-Ons      8990
92        Pavers England            Men Solid Leather Formal Loafers      7999
93               Saint G                  Leather Block Heeled Boots    8550Rs
94        Pavers England   Men Textured Leather Formal Slip-On Shoes      9999
95               Saint G                 Leather Kitten Heeled Boots    8910Rs
96        Pavers England             Men Solid Leather Formal Derbys      8999
97               Saint G        Leather Block Heeled Boots with Bows   12510Rs
98               Saint G               Leather Platform Heeled Boots    9810Rs
99               Saint G  Textured Leather Party Kitten Heeled Boots   11954Rs

# Question 8 amazon.in/laptop

In [ ]:
#Enter “Laptop” in the search field and then click the search icon.
#Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop

In [161]:
#program to open website
url='https://www.amazon.in/'
driver.get(url)

In [162]:
#program to put cursor on search box
search_box=driver.find_element_by_id('twotabsearchtextbox')
search_box

In [163]:
#program to enter data
search_box.send_keys('Laptop')

In [164]:
search_btn=driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_btn.click()

In [165]:
#program to check on processor
proc_check=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[12]/span/a/div/label/i')
proc_check.click()

In [169]:
title_tag=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="5c3bded9-f354-4939-92f9-a0e4630ad61e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="50e6d12d-2f8e-401e-8b5f-f1ec9b0b5e98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0a699d6b-0fd7-4ec9-90d7-00d62b8935f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="321d64ad-47b0-4561-83d7-c2271d607bbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a0a1a727-c0b6-484e-95f2-8a66a5e25d2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6bfc2773-b36e-4aad-a9a1-210a994692cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="76a11063-86bd-4576-b99d-96ed04304007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="63a9d059-28ea-4b7d-ab39-bde7610ed429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="8f74d276-096a-45ea-ae38-183b607e8d6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="320fab11-3475-4a75-8848-a8df56e1403a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c59ae6ef-43ed-49e6-9202-e3e117847860")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c91edf67-5e7d-41d0-9042-60e16af64a79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d45895fc-a1de-4131-be21-1ba140fd3421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0e1861a3-e37c-4e63-82ff-78c7da4201e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f998fe66-8e5f-46d2-8f45-381400bea346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="39710ec7-a832-4ccf-9816-0b3e044892c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="877d8f79-90c7-4ffb-a7bc-c6d145ab5b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c74b17c1-3db4-4c4f-bb7e-9c1534f382e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="1257cbe4-2a0e-4b45-ab50-0ed1bb1936a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="42305981-980a-4e85-82e3-7661132a282c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="877a3602-3cc9-4c27-9830-4e06b59ef816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="395af0ab-2356-450c-bee6-e9bccafbccc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3515a508-c491-4420-b8f2-5cf99da379d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b9c24541-f8a8-4469-9fcc-3047efc15c8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="dc4ebd3b-3d21-4c05-95cb-fe164f08d734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="468d6a70-8f4e-499c-bb35-203857c5fbf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="80519a6a-2d37-4581-8815-4367c6904145")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c33cb6cd-d2a3-4e5f-8670-efa3e9dac7f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c40dc33e-ccdc-457c-a2d7-5b37f90335f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="7685390b-4992-4482-962b-5cabe8ef0838")>]

In [174]:
#program to find 10 laptop name
title=[]
for i in title_tag:
    title.append(i.text)
title=title[:10]
title

['LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'LG Gram 16-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'Mi Notebook - XMA1904-AF',
 'HP Pavilion 14, Intel 11th Gen Core i7 16GB RAM/1TB SSD 14-inch Laptop, FHD Micro-Edge Anti-Glare Display/Iris Xᵉ Graphics/Backlit KB/B&O Audio/Fingerprint Reader/ Win 11 Ready/1.41kg, 14-dv0058TU',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 240Hz/3ms, Intel Core i7-11370H 11th Gen, 8GB RTX 3070 Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PRZ-AZ122TS']

In [173]:
title

['LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'LG Gram 16-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'Mi Notebook - XMA1904-AF',
 'HP Pavilion 14, Intel 11th Gen Core i7 16GB RAM/1TB SSD 14-inch Laptop, FHD Micro-Edge Anti-Glare Display/Iris Xᵉ Graphics/Backlit KB/B&O Audio/Fingerprint Reader/ Win 11 Ready/1.41kg, 14-dv0058TU',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 240Hz/3ms, Intel Core i7-11370H 11th Gen, 8GB RTX 3070 Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PRZ-AZ122TS']

In [197]:
rating_tag=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span')
rating_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="70e0d62a-b70e-481d-a2f2-fc4fda9de120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6729ad42-1235-4288-b24c-703cee4a6387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="924aa740-baa6-4a96-925e-f16fc63f711a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="251eca5f-7df8-4110-abf1-43d98dd543db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="459b1636-49b3-4ce0-87ad-16d60cd58e41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="2146ec26-67bd-4ae5-b057-7d915d23f8d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="5bf119cd-f0e0-4e97-8b37-9f51d7b068d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0a9551cd-b41e-40f2-b9ea-6b99bc1951b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="db32bc71-3d73-44a0-a5d8-420c8fd4fb94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="012c67d4-2900-471a-b8a3-299be9cfadab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4e0b7f97-8cce-45e7-ad7a-f90d774a27d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="1a3de5bd-7670-43ef-a15f-53859dcc60ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f639265a-44dc-4745-ad1e-c086b43ae2b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9552ad9a-2f73-4b24-a1c1-89e84d42c949")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="74b3f75e-159d-440d-93b1-6965fa7d5443")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="27e5a3e9-c5fc-46b8-9eea-3e42d3a6d47e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6425743d-1b12-4c31-b1b1-3fe6dbb22a50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="2851d773-d867-4ddc-9eba-a713007758cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="771f44bf-51c5-45da-8cf7-25cab5abcbf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0b1fc830-be01-4066-9abc-2c1c475023e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="289c02a9-1d6a-4457-a9af-4b0c05929683")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="38c2ba92-f416-47a5-89e6-dcce190efe9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="57091517-1ae3-40b6-b9a1-ff30d8645095")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="53c8173c-42ba-4ec6-8d5e-a586885672b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b839047c-3680-4673-bfe2-379ea79690ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="90a0ff0b-4cbb-43a2-b21c-12dd625e4a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="54d7f147-d376-4bcf-9959-e160ca24970f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="92d0a5c9-bdb8-4081-914f-c705437e631d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a751c05e-7160-4f46-b500-d86a1f2ce314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="aaea6186-e022-4363-b442-f4cd2e9cb2bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c07b3fe4-7d5b-43db-8a44-44cdad62e210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="df15d023-f6e7-463c-ad22-301ea7127ff9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f3f890b9-6723-4fa7-8def-706459ebf1ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="928e7f4c-c176-48b6-916e-9b40c51a2683")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a1e72383-e87e-45f1-9a0b-7b987ea5fd8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6585409a-8d40-416b-bb4c-5b5b0186a4dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="91e4bfde-a025-4167-a985-8e6cb2c15de4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d658c667-0ccc-48c6-8d54-e560cd0bb247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b905cea5-6805-47c1-9c14-8d2b5e2e7f15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d6aaa066-2597-4390-94e2-e491e19bb227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d090fcbf-aae6-4eeb-ac59-aeea8a1adab8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="95afb152-76b0-4e0f-8aed-15dca067c961")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="bc07d6d4-34fa-4209-96c5-88bf57cca58b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6b568edd-6019-450c-8e2f-9f637a8c8f58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9ca6227b-ee5e-42f8-870a-5360a4294298")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="ab10d361-81a8-49b7-94bf-d01228bc6bf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="7e868df3-b0bc-450c-82f0-b6ba9360939c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="75a157a1-c60b-4370-a19b-63bf57f425bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="5ebeabc8-596a-47a5-b3d8-5c24cae15c20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f9b49b45-4674-4807-a89e-0d89f92b9755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="bbb10011-fe15-468b-99fe-039cd38c2a8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4c2b8c62-1069-48bf-b78c-77e29bff5885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="67867551-511a-46c2-b400-1b334e4758ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="09ea4618-1580-4476-ba0b-524399f631cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="94c4b65c-54f2-42ce-bf64-6b6748d5073a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="89a63edc-3d20-49e2-85c5-591fe9acbc4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="35f42b3e-0291-436e-823c-f35345755583")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="74d9a5fb-d261-4807-aac6-8335928a8936")>]

In [200]:
#program to find 10 laptop rating
rating=[]
for i in rating_tag:
    rating.append(i.get_attribute('aria-label'))
rating=rating[0:20:2]
rating

['4.6 out of 5 stars',
 '4.3 out of 5 stars',
 '5.0 out of 5 stars',
 '4.5 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.4 out of 5 stars',
 '4.6 out of 5 stars',
 '4.8 out of 5 stars',
 '3.5 out of 5 stars']

In [203]:
price_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="82697c96-d62d-495d-ab5e-a85f5ed2b194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f01ed807-5df7-4841-a2d0-96b1d9d58cae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0406e5da-4276-43a3-b1a6-14cc27139965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="46433f27-fa63-4546-b024-a14836413f84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="eb9bd8a3-5210-4f74-9334-a630d28d69bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3fd35eef-2021-435f-8be5-f1a3a07d2d16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3adb6b18-178d-4603-a828-4038fc2bfd9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="729a8b9b-5112-41af-b14d-eb96d0a910ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d97683bd-c8b3-4405-8dc9-e1df581623ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="021dd5a2-4112-488e-a659-5186a97317ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a3afb363-0151-4b77-bb83-636a21bba16a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="344c02b7-9540-4654-9f5b-62eed06c067e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="55b1f378-ccc2-4cb0-ba8a-740d31239c53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3b2c7f9b-4ac7-49a3-9dc5-7d7740e17a2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a0fcb6e7-35bb-466a-87fd-82c682e1bb03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="cd034582-7703-41fb-882b-be15ed63ab57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="04a2469b-7eb1-4e5c-ad0f-0f446ea44141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="560d5b27-a8b3-4faf-9fb4-5464f647b307")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9987a329-cb64-4ab9-b294-4c7466553bf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4f85c77a-15a6-4821-9f84-7ad84fdd1b50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="e34e8bf7-fba6-44be-849d-8435c3b9b805")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b9138f00-18e8-4bf5-bd40-1b5fe5c76940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0e92b4e4-8787-4e9d-ba40-efd3fa2f345a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="fbc7097e-ff51-401f-8edd-6986c51b812f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="01e12ecc-a0de-41f2-975f-86f645b739de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9f484b5e-6d45-4052-9574-5fd859f78a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="2f1bc63a-423a-4954-b0fb-71a0a2fe0c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="7e6fb46d-a76a-4159-b474-11f1468edafa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="2ba97db0-db7e-4afa-9bdb-63bcd8354021")>]

In [206]:
#program to find 10 laptop price
price=[]
for i in price_tag:
    price.append(i.text)
price=price[0:10]
price

['99,990',
 '95,990',
 '59,990',
 '89,990',
 '79,990',
 '57,990',
 '90,990',
 '87,990',
 '1,14,990',
 '1,34,990']

In [208]:
#program to create a database
df=pd.DataFrame({'Title':title, 'Rating':rating, 'Price':price})
df

,Title,Rating,Price
0,LG Gram 17-inches Ultra-Light Intel Evo 11th G...,4.6 out of 5 stars,"99,990"
1,LG Gram 16-inches Ultra-Light Intel Evo 11th G...,4.3 out of 5 stars,"95,990"
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",5.0 out of 5 stars,"59,990"
3,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,4.5 out of 5 stars,"89,990"
4,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.3 out of 5 stars,"79,990"
5,Mi Notebook - XMA1904-AF,4.2 out of 5 stars,"57,990"
6,"HP Pavilion 14, Intel 11th Gen Core i7 16GB RA...",4.4 out of 5 stars,"90,990"
7,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...",4.6 out of 5 stars,"87,990"
8,ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...,4.8 out of 5 stars,"1,14,990"
9,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",3.5 out of 5 stars,"1,34,990"

# Question 9 ambitionbox.com

In [209]:
#program to open website
url='https://www.ambitionbox.com/'
driver.get(url)

In [210]:
search_job=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_job.click()

In [211]:
search_j=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_j

In [212]:
#program to enter data
search_j.send_keys('Data Scientist')

In [213]:
#program to find search
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
#program to click on search
search_btn.click()

In [214]:
search_l=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search_l.click()

In [215]:
search_check=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
search_check.click()

In [222]:
job_tag=driver.find_elements_by_xpath('//a[@class="title noclick"]')
job_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="2b4b50e2-a15f-4789-8032-b102c6fdf45c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f7476cae-78b4-4f2c-be9a-8adb3108fb6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="7f977e64-34c0-4fbb-8082-54b87c08cccc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b6df8546-f69b-4724-bef9-1bdc1244f8a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="db5e27e9-c0f1-4350-8a42-18f4d83ec509")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="2d77f722-ebe5-4184-b66b-941e89451ab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="bf56ebc9-1174-41e9-9a26-85582f687ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="cfb45c60-3216-4655-a8eb-b5065610661f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="34edb783-be41-485a-9287-29f79ade0420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b539c1b2-882f-4d4e-8937-46330c9775ff")>]

In [223]:
#program to find job titles
job=[]
for i in job_tag:
    job.append(i.text)
job

['Manager Data Scientist',
 'Vice President - Data Science',
 'CogniTensor - Data Scientist (2-5 yrs)',
 'CogniTensor - Data Scientist (2-5 yrs)',
 'Data Scientist - Data Science/Model Development (0-6 yrs)',
 'Manager - Data Scientist - Retail/BFSI (8-15 yrs)',
 'Data Scientist - Consulting Firm (8-15 yrs)',
 'RMS Risk Management - Data Scientist - CNN/Deep Learning (2-8 yrs)',
 'Data Science - Senior Data Scientist',
 'Data Scientist']

In [225]:
posted=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
posted

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3649f8a9-1e60-48e7-b714-aefaa5706b35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="e13c330d-aae2-4419-870b-f94b2b5c0352")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="8bb911db-d8d4-43e9-8186-4770161a4429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d4503170-179c-4378-9a89-059635ec56b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="8caf7396-7ebd-4443-81b4-13d8d3102774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="8b23f4ac-ee7e-4231-a77c-0b1d39dcc80d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="5bf952f7-093b-4918-9229-cbd023fb10c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="b788c9f4-4bfe-4b43-a242-bc587f409c74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9517dfc3-623a-4764-84c6-5749e081485c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6193c96a-02d0-4bc2-97bf-32600374de40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6951e6ef-2085-4d0e-8741-e405f4303ada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3836b422-18a8-45da-809c-26e92850feee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="70ac2f38-67e0-4664-bd55-c6902f0b8a2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="7e708da0-66f3-410a-965a-5aae99cfeecb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="e87dca73-474e-44c0-8f86-c271cf91f306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="cd047700-324f-4745-af1f-f519786e2e48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="331bc382-5634-402f-a72b-c5cc46568f75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="bb8c2c72-e329-4559-9344-b4e7231b28ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="ec8fe844-804f-405f-953c-77a18af20847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="1fefc794-3425-4833-9793-13b34ffb44c2")>]

In [233]:
#program to find job posted
job_posted=[]
for i in posted:
    job_posted.append(i.text.split('via')[0])
job_posted=job_posted[0:21:2]
job_posted

['2d ago',
 '8d ago',
 '9d ago',
 '10d ago',
 '21d ago',
 '21d ago',
 '21d ago',
 '3d ago',
 '29d ago',
 '5hr ago']

In [227]:
rat_tag=driver.find_elements_by_xpath('//span[@class="body-small"]')
rat_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="3d2763b0-a55f-4f0e-b405-fc7c785cf5ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="03a700de-71b8-46c2-823d-783abbe622f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d8aac610-e35c-4758-9271-e38f55393eb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="57555ef4-c54d-4197-85da-626c5806b5ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="294a6d25-73ec-4334-894d-f445a9d29813")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="0eeff138-bbd6-49b8-8d1d-8bfeae8fa3cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="60a7a19d-ddab-41a7-a7a1-b58b0f797476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6d7249dd-9c89-4b66-a520-4c8204602f5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="edf58716-ae95-4373-b5d5-a8b418656d14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9ac55934-5bec-4c55-af5b-22cd960f2410")>]

In [228]:
#program to find job rating
rating=[]
for i in rat_tag:
    rating.append(i.text)
rating

['4.0', '3.7', '3.7', '3.7', '4.1', '4.1', '4.1', '3.5', '3.7', '3.9']

In [234]:
#program to create a database
df=pd.DataFrame({'Job Title':job, 'No. of days when job was posted':job_posted, 'Rating':rating})
df

,Job Title,No. of days when job was posted,Rating
0,Manager Data Scientist,2d ago,4.0
1,Vice President - Data Science,8d ago,3.7
2,CogniTensor - Data Scientist (2-5 yrs),9d ago,3.7
3,CogniTensor - Data Scientist (2-5 yrs),10d ago,3.7
4,Data Scientist - Data Science/Model Developmen...,21d ago,4.1
5,Manager - Data Scientist - Retail/BFSI (8-15 yrs),21d ago,4.1
6,Data Scientist - Consulting Firm (8-15 yrs),21d ago,4.1
7,RMS Risk Management - Data Scientist - CNN/Dee...,3d ago,3.5
8,Data Science - Senior Data Scientist,29d ago,3.7
9,Data Scientist,5hr ago,3.9

# Question 10 ambitionbox.com

In [235]:
#program to open website
url='https://www.ambitionbox.com/'
driver.get(url)

In [236]:
#program to put cursor and click on salary
sal=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal.click()

In [237]:
#program to click on search
searchbox=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
searchbox

In [238]:
#program to enter data
searchbox.send_keys('Data Scientist')

In [247]:
#program to click on search button
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
search_btn

In [257]:
title_tag=driver.find_elements_by_xpath('//div[@class="name"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="563b9b18-47a4-47d5-b48b-9091f805890e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4b83555f-b5e6-4e92-872b-b17528d1e25a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="db1e1109-6d9e-4306-a2bf-9785a4656311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6889e5d1-4fb2-4d36-be79-ee710b567812")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6cc84935-4099-4c21-a4d8-6bacc235fd9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="359c02c1-6269-4162-8a81-c9ae23ed8d3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="f646fb77-0bfd-4313-b00e-bc135cf1c9af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4a39e76d-347b-4d78-a5e0-1cf1157e0431")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="e2470467-1b71-47fb-bcde-934782468436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="dafc3b97-be9a-47af-b10b-bd6ef9520e15")>]

In [281]:
#program to find job titles
title=[]
for i in title_tag:
    title.append(i.text.split('\n')[0])
title

['Walmart',
 'Ab Inbev',
 'ZS',
 'Fractal Analytics',
 'Optum',
 'UnitedHealth',
 'Tiger Analytics',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [282]:
#program to find number of salaries
no_sal=[]
for j in title_tag:
    no_sal.append(j.text.split('\n')[1])
no_sal

['based on 10 salaries',
 'based on 22 salaries',
 'based on 14 salaries',
 'based on 72 salaries',
 'based on 23 salaries',
 'based on 49 salaries',
 'based on 27 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 42 salaries']

In [272]:
avg_tag=driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]')
avg_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d4405c26-d0e2-4f4e-86a7-092468e2a3c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6e5e9cae-c134-4057-b454-f6cc16fc90ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="ae1a321b-1a26-4cb2-85fb-057c49ad9bff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6f83f382-d389-474d-806f-c56cce9ed9b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="40355e2b-4b84-4c8a-b509-f6b30826f19a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="88d5b88d-6985-44f8-91b9-8f4c69e68c60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a87708e4-af74-45a4-a888-66d51cd96cdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="cc0af57d-2bc5-4f85-8316-14fc86c9c588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="8d123cfe-af6b-440b-8d53-589eff5f3697")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4b594242-cdcd-4ccb-b5c1-6d354d4c2ac8")>]

In [273]:
#program to find average salary
avg_sal=[]
for i in avg_tag:
    avg_sal.append(i.text)
avg_sal

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [274]:
min_tag=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
min_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a643bcbd-6597-469e-9e01-06c0a454998a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a0f8b2ef-6397-462a-b3f7-e61559339f3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="77e9f21c-23a1-4b59-ae11-45891e04d8b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="e377882e-8502-4cfe-a941-7e4ba528a1c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="45cb3cb9-2f6b-4931-9053-cc0e52c28495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="35d0310e-24eb-4cd2-8090-7a6cd25d1e0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a748e8b9-005b-4b1b-a71f-01f8287f674a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6bfc4c47-96e1-4dbb-8540-00252b0f5e4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4ea5f5b5-c9ec-4380-9cf3-913c84431f83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="66586449-8694-4304-8733-6c3a1b96c286")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="9aafff13-23ef-4578-9acb-2b364f897fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c575f8d5-d83f-4f3e-a84b-a5b2d2640eeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="68cf5e25-a861-47b3-a287-d0412d6bbab4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="a6230682-b12b-42c1-8144-c6db59c01e72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="8516ebc0-f06a-4fc0-866d-b9151786ab3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="905f7594-b861-496f-82aa-f1217b9f4c2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c81a4f07-b874-42e8-9f95-0e9f5e245e0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="847f9405-f10d-45ea-a264-7ff0fbb0a244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="1668b60a-ca41-4d4b-be50-eaf4ae3907cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="614e9368-615f-4160-8f06-8ca3a941c0b9")>]

In [276]:
#program to find minimum salary
min_sal=[]
for i in min_tag:
    min_sal.append(i.text)
min_sal=min_sal[0:20:2]
min_sal

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [278]:
#program to find maximum salary
max_sal=[]
for j in min_tag:
    max_sal.append(j.text)
max_sal=max_sal[1:20:2]
max_sal

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [285]:
exp_tag=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="6f01656d-1a53-48f2-b235-c296c8c3f480")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="d1a0a63e-17d1-4384-8789-d95e5f2cfbfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="4474a8d1-a8b3-4802-b48c-457000fa059c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="491de926-9e7a-4603-b6e9-4e3170cd4248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="bd72c975-e2e7-4012-a9ed-306cfff81a35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="49894e38-e379-4de2-b04f-d3b066e0fdc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c8426804-5c6b-4e31-9002-0df8bc06f25d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="07ac429f-0a5b-412e-a93f-744bf23c744d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="c5d7ea5c-9bae-41b8-9b6f-3b72ecda4fde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87117791a7e88ebc032997dfd51458ae", element="749b00b7-6180-4b79-87c1-9d258d868e41")>]

In [289]:
#program to find eexperience
exp=[]
for i in exp_tag:
    exp.append(i.text.split('\n')[2])
exp

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [290]:
len(title),len(no_sal),len(avg_sal),len(min_sal),len(max_sal),len(exp)

(10, 10, 10, 10, 10, 10)

In [291]:
#program to create a database
df=pd.DataFrame({'Company Name':title, 'Experience':exp, 'Number of Salaries':no_sal, 'Average Salary':avg_sal, 'Minimun Salary':min_sal, 'Maximun Salry':max_sal})
df

,Company Name,Experience,Number of Salaries,Average Salary,Minimun Salary,Maximun Salry
0,Walmart,3 yrs exp,based on 10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L
1,Ab Inbev,3-4 yrs exp,based on 22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L
2,ZS,2 yrs exp,based on 14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L
3,Fractal Analytics,2-4 yrs exp,based on 72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L
4,Optum,3-4 yrs exp,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L
5,UnitedHealth,2-4 yrs exp,based on 49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L
6,Tiger Analytics,3-4 yrs exp,based on 27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L
7,Verizon,4 yrs exp,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
8,Ganit Business Solutions,4 yrs exp,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L
9,Ericsson,3-4 yrs exp,based on 42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L

In [292]:
print('x'*45,'End of Assignment','x'*45)

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx End of Assignment xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx